/* 
 * Base colors 
 */

body { background-color:#ffffff; color:#494949; }

#idSegmentUpper { background:#2688C5; border-color:#0072B9; }
#idSegmentLower  {  }

/* 
  .item-list a.active selects view lists like Recent comments, Active forum topics etc.
 */
a, ul.menu li a:visited, ul.links li a:visited, .item-list a.active { color:#027ac6; }
a:visited, .item-list a.active:visited { color:#0062a0; }
a:hover, ul.menu li a:hover, ul.links li a:hover { color:#0062a0; }

h1,h2,h3,h4,h5,h6 { color:#027AC6; }

/* Header */
#idSiteName, #idSiteName a { color:#ffffff; }

#idSiteSlogan { color:#ffffff; }

/* Breadcrumb - colors */

.breadcrumb { color:#529ad6;  background-color:transparent; }
.breadcrumb a { color:#529ad6; }
.breadcrumb a:hover { color:#0062a0; }

/* Primary, secondary links and suckerfish - colors */

#idPrimaryLinks, #idSecondaryLinks {  }

ul.primary-links {  }
ul.primary-links li a.active, ul.secondary-links li a.active {  }

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited { color:#ffffff; background:transparent; }
ul.primary-links li a.active { border-bottom-color:transparent; background:#0072b9; }
ul.primary-links li a:hover { color:#77c0fd; }

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited, ul.suckerfish-primary li a { color:#2688c5; }
ul.secondary-links li a.active { color:#ffffff; border-bottom-color:transparent; background:#0072b9; }
ul.secondary-links li a:hover { color:#77c0fd; }

ul.suckerfish-primary li:hover a { color:#ffffff; background:#2688c5; }
ul.suckerfish-primary li a:hover { color:#ffffff; background:#0072b9; }
ul.suckerfish-primary li ul li:hover a { background:#0072b9;}
ul.suckerfish-primary li ul li a:hover { background:#0072b9;}

div.suckerfish-secondary-wrapper li { background:#0072b9;}
#idSuckerfish, ul.suckerfish-primary li div.suckerfish-secondary-wrapper { border-color:#0072B9; border-top-style:none; }

/* Help - colors */

div.help p {  }

/* Menus - colors */

ul.menu li a {  }

/* Admin panel - colors */

div.admin div.admin-panel h3 { background-color:#d2eaf8; color:#494949;  }
div.admin div.admin-panel p.description { color:#898989; }

dl.admin-list dt { background-color:#ffffff; }
dl.admin-list dd { color:#898989; }

table#blocks td.region { background:#d4e7f3; }

/* Message - colors */
.messages { border-color:#c7f2c8; background-color:#ffffff; color:#33aa33; }

/* Mission */
#mission { border-color:#e0e5fe; background-color:#ffffff; }

/* Forum */

#forum th { color:#494949; }

#forum td.container { background-color:#d4e7f3; }

#forum td.container .name { background-color:#d4e7f3; }
#forum td.container .name a { color:#027ac6; }
#forum td.container .name a:hover { color:#0062a0; }
#forum td.container .description { background-color:#d4e7f3; border-top:solid 1px #b4c7d3; }

/* Node, Book - colors */

h2, div.node h2, div.node h2 a, h2.with-tabs, h2.with-tabs a { background-color:transparent; color:#027ac6; }
div.node h2 a { }

div.node span.submitted { color:#898989; }

div.node div.links, div.book-navigation div.page-links { border-color:#027ac6; }

/* Comments - colors */

div.comment { border-bottom-color: #000000; }
div.comment div.comment-header span.new { color:#ffae00; }
div.comment span.submitted { color:#898989; }

div.comment div.comment-footer { border-top-color:#e9eff3; }

/* Tabs - colors */

#tabs-wrapper .tabs.primary { border-bottom-color:#a6cee7; }

#tabs-wrapper .tabs.primary li { background-color:#b6def7; color:#027ac6; }
#tabs-wrapper .tabs.primary li.active { color:#ffffff; background-color:#a6cee7; border-bottom-color:#a6cee7; }

#tabs-wrapper .tabs li a { background-color:transparent; color:#027ac6; }
#tabs-wrapper .tabs li a:hover { color:#0062a0; background-color:transparent; }
#tabs-wrapper .tabs li a.active:hover { color:#0062a0; }
#tabs-wrapper .tabs li a.active { color:#ffffff; background-color: #a6cee7; }

/* Search box - fonts & colors */

#search-block-form input.form-text { border-color:#494949; background:#ffffff; }

/* Tables - colors */

table { border-top-color:#ffffff; border-bottom-color:#ffffff; }
table thead tr th { border-bottom-color:#ffffff; background:#ffffff; }
table tbody tr td { border-bottom-color:#b4d7f0; }
table tbody tr.odd td { background:#edf5fa; }
table tbody tr.even td { background:#ffffff; }

/* Various Drupal elements - colors */
.block-region { background:transparent; border-color:#b4d7f0; }

/* Highlighted - fonts & colors */

#idRegionHighlightLeft { border-color:#d2e6f3;  }
#idRegionHighlightLeft h2 { color:#027ac6; background:#d2e6f3; }
body.plain #idRegionHighlightLeft h2 { color:#027ac6; background:transparent; }
body.bigBorders #idRegionHighlightLeft  h2 { color:#027ac6; background:transparent;  }

#idRegionHighlightRight { border-color:#d2e6f3;  }
#idRegionHighlightRight h2 { color:#027ac6; background:#d2e6f3; }
body.plain #idRegionHighlightRight h2 { color:#027ac6; background:transparent; }
body.bigBorders #idRegionHighlightRight h2 { color:#027ac6; background:transparent; }

/* Category - fonts & colors */

.category h2 {  }

body.plain #idRegionCategory1 h2, body.plain #idRegionCategory2 h2, body.plain #idRegionCategory3 h2, body.plain #idRegionCategory4 h2, body.plain #idRegionCategory5 h2, body.plain #idRegionCategory6 h2, body.plain #idRegionCategory7 h2, body.plain #idRegionCategory8 h2 {
  color:#027ac6; background:transparent;
}

body.bigBorders #idRegionCategory1 h2, body.bigBorders #idRegionCategory2 h2, body.bigBorders #idRegionCategory3 h2, body.bigBorders #idRegionCategory4 h2, body.bigBorders #idRegionCategory5 h2, body.bigBorders #idRegionCategory6 h2, body.bigBorders #idRegionCategory7 h2, body.bigBorders #idRegionCategory8 h2 {
  color:#027ac6; background:transparent;
}

#idRegionCategory1, #idRegionCategory2, #idRegionCategory3, #idRegionCategory4, #idRegionCategory5, #idRegionCategory6, #idRegionCategory7, #idRegionCategory8 {
  background-color:#e2f6ff; border-color:#d2e6f3;
}

#idRegionCategory1 h2, #idRegionCategory2 h2, #idRegionCategory3 h2, #idRegionCategory4 h2, #idRegionCategory5 h2, #idRegionCategory6 h2, #idRegionCategory7 h2, #idRegionCategory8 h2 {
  background-color:#d2e6f3;
}

/* Footer - colors */

#idRegionFooter { background-color:transparent; color:#898989; border-color:#edeff3; }

/* Sidebar - fonts & colors */

.sidebar-block h2 {  }

body.plain #idRegionSidebarBox1 h2, body.plain #idRegionSidebarBox2 h2, body.plain #idRegionSidebarBox3 h2, body.plain #idRegionSidebarBox4 h2, body.plain #idRegionSidebarBox5 h2, body.plain #idRegionSidebarBox6 h2 {
  color:#898989; background:transparent;
}

body.bigBorders #idRegionSidebarBox1 h2, body.bigBorders #idRegionSidebarBox2 h2, body.bigBorders #idRegionSidebarBox3 h2, body.bigBorders #idRegionSidebarBox4 h2, body.bigBorders #idRegionSidebarBox5 h2, body.bigBorders #idRegionSidebarBox6 h2 {
  color:#898989; background:transparent;
}

#idRegionSidebarBox1, #idRegionSidebarBox2, #idRegionSidebarBox3, #idRegionSidebarBox4, #idRegionSidebarBox5, #idRegionSidebarBox6 {
  background-color:#edf5fa; border-color:#d4e7f3;
}

#idRegionSidebarBox1 h2, #idRegionSidebarBox2 h2, #idRegionSidebarBox3 h2, #idRegionSidebarBox4 h2, #idRegionSidebarBox5 h2, #idRegionSidebarBox6 h2 {
  color:#898989; background-color:#d4e7f3;
}
