/*
 * Highlighted 
 */

body.plain .highlighted h2 
{
  padding:0 0 0 4px;
}

/*
 * Category 
 */

body.plain .category
{  
  border:0;
}

body.plain .category h2
{  
  width:auto;
  padding:0 0 0 4px;
  margin:0;
}

body.plain div.category-pair {
	margin-bottom:10px;
}

/* 
 * Sidebar 
 */

body.plain .sidebar-block h2
{
  padding:0 0 0 4px;
  margin-left:-4px;
}
