/* 
 * Base colors 
 */

body { background-color:#eef3f1; color:#2d2d2d; }

#idSegmentUpper { background:#449d76; border-color:#50bb8d; }
#idSegmentLower  {  }

/* 
  .item-list a.active selects view lists like Recent comments, Active forum topics etc.
 */
a, ul.menu li a:visited, ul.links li a:visited, .item-list a.active { color:#1b5f42; }
a:visited, .item-list a.active:visited { color:#093d23; }
a:hover, ul.menu li a:hover, ul.links li a:hover { color:#104d33; }

h1,h2,h3,h4,h5,h6 { color:#2d2d2d; }

/* Header */
#idSiteName, #idSiteName a { color:#ffffff; }

#idSiteSlogan { color:#ffffff; }

/* Breadcrumb - colors */

.breadcrumb { color:#628e7e; background-color:transparent; }
.breadcrumb a { color:#628e7e; }
.breadcrumb a:hover { color:#104d33; }

/* Primary, secondary links and suckerfish - colors */

#idPrimaryLinks, #idSecondaryLinks {  }

ul.primary-links {  }
ul.primary-links li a.active, ul.secondary-links li a.active {  }

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited { color: #ffffff; background:transparent; }
ul.primary-links li a.active { border-bottom-color:transparent; background:#50bb8d; }
ul.primary-links li a:hover { color:#104d33;  }

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited, ul.suckerfish-primary li a { color: #1b5f42; }
ul.secondary-links li a.active { color:#ffffff; border-bottom-color:transparent; background:#50bb8d; }
ul.secondary-links li a:hover { color:#104d33; }

ul.suckerfish-primary li:hover a { color:#ffffff; background:#449d76; }
ul.suckerfish-primary li a:hover { color:#ffffff; background:#50bb8d; }
ul.suckerfish-primary li ul li:hover a { background:#50bb8d;}
ul.suckerfish-primary li ul li a:hover { background:#50bb8d;}

div.suckerfish-secondary-wrapper li { background:#449d76;}
#idSuckerfish, ul.suckerfish-primary li div.suckerfish-secondary-wrapper { border-color:#50bb8d; border-top-style:none; }

/* Help - colors */

div.help p {  }

/* Menus - colors */

ul.menu li a {  }

/* Admin panel - colors */

div.admin div.admin-panel h3 { background-color:#a0fbdd; color:#2d2d2d;  }
div.admin div.admin-panel p.description { color:#767676; }

dl.admin-list dt { background-color:transparent; color:#2d2d2d; }
dl.admin-list dd { color:#767676; }

table#blocks td.region { background:#d8e2de; }

/* Message - colors */
.messages { border-color:#c7f2c8; background-color:#ffffff; color:#33aa33; }

/* Mission */
#mission { border-color:#e0f0f0; background-color:#ffffff; }

/* Forum */

#forum th { color:#2d2d2d; }

#forum td.container { background-color:#d8edde; }

#forum td.container .name { background-color:#d8edde; }
#forum td.container .name a { color:#1b5f42; }
#forum td.container .name a:hover { color:#104d33; }
#forum td.container .description { background-color:#d8edde; border-top:solid 1px #c8ddce; }

/* Node, Book - colors */

h2, div.node h2, div.node h2 a, h2.with-tabs, h2.with-tabs a { background-color:transparent; color:#104d33; }
div.node h2 a { }

div.node span.submitted { color:#767676; }

div.node div.links, div.book-navigation div.page-links { border-color:#888888; }

/* Comments - colors */

div.comment { border-bottom-color: #eaeaea; }
div.comment div.comment-header span.new { color:#eea200; }
div.comment span.submitted { color:#767676; }

div.comment div.comment-footer { border-top-color:#eaeaea; }

/* Tabs - colors */

#tabs-wrapper .tabs.primary { border-bottom-color:#50bb8d; }

#tabs-wrapper .tabs.primary li { background-color:#90fbcd; color:#104d33; }
#tabs-wrapper .tabs.primary li.active { color:#ffffff; background-color:#50bb8d; border-bottom-color:#50bb8d; }

#tabs-wrapper .tabs li a { background-color:transparent; color:#104d33; }
#tabs-wrapper .tabs li a:hover { color:#1b5f42; background-color:transparent; }
#tabs-wrapper .tabs li a.active:hover { color:#1b5f42; }
#tabs-wrapper .tabs li a.active { color:#ffffff; background-color:#50bb8d; }

/* Search box - fonts & colors */

#search-block-form input.form-text { border-color:#2d2d2d; background:#ffffff; }

/* Tables - colors */

table { border-top-color:#eef3f1; border-bottom-color:#eef3f1; }
table thead tr th { border-bottom-color:#d6e3de; background:#eef3f1; }
table tbody tr td { border-bottom-color:#d6e3de; }
table tbody tr.odd td { background:#eef3f1; }
table tbody tr.even td { background:#ffffff; }

/* Various Drupal elements - colors */
.block-region { background:transparent; border-color:#b9d5ca; }

/* Highlighted - fonts & colors */

#idRegionHighlightLeft { border-color:#90fbcd; }
#idRegionHighlightLeft h2 { color:#2d2d2d; background:#90fbcd; }
body.plain #idRegionHighlightLeft h2 { color:#50bb8d; background:transparent; }
body.bigBorders #idRegionHighlightLeft  h2 { color:#2d2d2d; background:transparent;  }

#idRegionHighlightRight { border-color:#90fbcd;  }
#idRegionHighlightRight h2 { color:#2d2d2d; background:#90fbcd; }
body.plain #idRegionHighlightRight h2 { color:#50bb8d; background:transparent; }
body.bigBorders #idRegionHighlightRight h2 { color:#2d2d2d; background:transparent; }

/* Category - fonts & colors */

.category h2 {  }

body.plain #idRegionCategory1 h2, body.plain #idRegionCategory2 h2, body.plain #idRegionCategory3 h2, body.plain #idRegionCategory4 h2, body.plain #idRegionCategory5 h2, body.plain #idRegionCategory6 h2, body.plain #idRegionCategory7 h2, body.plain #idRegionCategory8 h2 {
  color:#2d2d2d; background:transparent;
}

body.bigBorders #idRegionCategory1 h2, body.bigBorders #idRegionCategory2 h2, body.bigBorders #idRegionCategory3 h2, body.bigBorders #idRegionCategory4 h2, body.bigBorders #idRegionCategory5 h2, body.bigBorders #idRegionCategory6 h2, body.bigBorders #idRegionCategory7 h2, body.bigBorders #idRegionCategory8 h2 {
  color:#2d2d2d; background:transparent;
}

#idRegionCategory1, #idRegionCategory2, #idRegionCategory3, #idRegionCategory4, #idRegionCategory5, #idRegionCategory6, #idRegionCategory7, #idRegionCategory8 {
  background-color:#ffffff; border-color:#d1ebe0;
}

#idRegionCategory1 h2, #idRegionCategory2 h2, #idRegionCategory3 h2, #idRegionCategory4 h2, #idRegionCategory5 h2, #idRegionCategory6 h2, #idRegionCategory7 h2, #idRegionCategory8 h2 {
  color:#2d2d2d; background-color:#d1ebe0;
}

/* Footer - colors */

#idRegionFooter { background-color:#f1fbf0; border-color:#d1ebe0; }

/* Sidebar - fonts & colors */

.sidebar-block h2 {  }

body.plain #idRegionSidebarBox1 h2, body.plain #idRegionSidebarBox2 h2, body.plain #idRegionSidebarBox3 h2, body.plain #idRegionSidebarBox4 h2, body.plain #idRegionSidebarBox5 h2, body.plain #idRegionSidebarBox6 h2 {
  color:#50bb8d; background:transparent;
}

body.bigBorders #idRegionSidebarBox1 h2, body.bigBorders #idRegionSidebarBox2 h2, body.bigBorders #idRegionSidebarBox3 h2, body.bigBorders #idRegionSidebarBox4 h2, body.bigBorders #idRegionSidebarBox5 h2, body.bigBorders #idRegionSidebarBox6 h2 {
  color:#105b3d; background:transparent;
}

#idRegionSidebarBox1, #idRegionSidebarBox2, #idRegionSidebarBox3, #idRegionSidebarBox4, #idRegionSidebarBox5, #idRegionSidebarBox6 {
  background-color:#80ebcd; border-color:#50bb8d;
}

#idRegionSidebarBox1 h2, #idRegionSidebarBox2 h2, #idRegionSidebarBox3 h2, #idRegionSidebarBox4 h2, #idRegionSidebarBox5 h2, #idRegionSidebarBox6 h2 {
  color:#2d2d2d; background-color:#50bb8d;
}
