/* 
 * Base colors 
 */

body { background-color:#ffffff; color:#101820; }

#idSegmentUpper { background:#37342f; border-color:#080808; }
#idSegmentLower  {  }

#idSegmentLower div.container #idCenter {  }

/* 
  .item-list a.active selects view lists like Recent comments, Active forum topics etc.
 */
a, ul.menu li a:visited, ul.links li a:visited, .item-list a.active  { color:#aa5555; }
a:visited, .item-list a.active:visited { color:#774a4a; }
a:hover, ul.menu li a:hover, ul.links li a:hover { color:#dd3333; }

h1,h2,h3,h4,h5,h6 { color:#6b6f5b; }

/* Header */
#idSiteName, #idSiteName a { color:#f4f5f2; }

#idSiteSlogan { color:#f4f5f2; }

/* Breadcrumb - colors */

html body .breadcrumb { color:#8e9181; background-color:transparent; /*#edffba;*/ }
html body .breadcrumb a { color:#8e9181; }
html body .breadcrumb a:hover { color:#37342f; }

/* Primary, secondary links and suckerfish - colors */

#idPrimaryLinks, #idSecondaryLinks {  }

ul.primary-links { }

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited { color: #8e9181; background:transparent; }
ul.primary-links li a.active, ul.secondary-links li a.active { border-bottom-color:transparent; background:#000000; }
ul.primary-links li a:hover { color:#e2e3dd; text-decoration:underline; }

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited{ color: #8e9181; }
ul.suckerfish-primary li a, ul.suckerfish-primary li:hover li a, ul.suckerfish-primary li a:hover a { color: #8e9181; }
ul.secondary-links li a:hover, ul.suckerfish-primary li:hover a, ul.suckerfish-primary li a:hover, ul.suckerfish-primary li:hover li:hover a, ul.suckerfish-primary li a:hover a:hover { color:#37342f; }
ul.secondary-links li a.active:hover { color:#e2e3dd;}

ul.suckerfish-primary li ul li:hover a, ul.suckerfish-primary li ul li a:hover { background:#ffffff;}

#idSuckerfish, ul.suckerfish-primary li div.suckerfish-secondary-wrapper { border-color:#080808; }

/* Help - colors */

div.help p {  }

/* Admin panel - colors */

div.admin div.admin-panel h3 { background-color:#fff6dc; color:#96161a;  }
div.admin div.admin-panel p.description { color:#898989; }

dl.admin-list dt { background-color:#fffaee; color:#96161a; }
dl.admin-list dd { /*background-color:#ffffe8;*/ color:#898989; }

table#blocks td.region { background:#fff6dc; }

/* Message - colors */
.messages { border-color:#c8ea6b; background-color:#f6ffdc; color:#90d05b; }

/* Mission */
#mission { border-color:#daa357; background-color:transparent; }

/* Forum */

#forum th { color:#898989; }

#forum td.container { background-color:#ffffff; }

#forum td.container .name { background-color:#774a4a; }
#forum td.container .name a { color:#ffffff; }
#forum td.container .name a:hover { color:#ffff88; }
#forum td.container .description { border-top:solid 1px #774a4a; }

/* Node, Book & comments - colors */

h2, div.node h2, div.node h2 a, h2.with-tabs, h2.with-tabs a, .comment .title a { background-color:transparent; color:#96161a; }
div.node h2 a { }

div.node span.submitted, div.comment span.submitted { color:#8d1c0c; }

div.node div.links, div.comment, div.book-navigation div.page-links, div.comment div.comment-footer { border-color:#8d1c0c; }

div.comment div.comment-header span.new { color:#ff6d06; }

/* Tabs - colors */

#tabs-wrapper .tabs.primary { border-bottom-color:#eac86b; }

#tabs-wrapper .tabs.primary li { background-color:#ffedba; color:#404040; }
#tabs-wrapper .tabs.primary li.active { background-color:#eac86b; border-bottom-color:#eac86b; }

#tabs-wrapper .tabs li a { background-color:transparent; color:#926440; }
#tabs-wrapper .tabs li a:hover { color:#404040; background-color:transparent; }
#tabs-wrapper .tabs li a.active:hover { color:#404040; }

/* Search box - fonts & colors */

#search-block-form input.form-text { border-color:#d0905b; background:#ffffff; }

/* Tables - colors */

table { border-top-color:#eac86b; border-bottom-color:#eac86b; }
table thead tr th { border-bottom-color:#eac86b; background:#ffedba; }
table tbody tr td { border-bottom-color:#eac86b; }
table tbody tr.odd td { background:#fffff8; }
table tbody tr.even td { background:#ffffe8; }

/* Various Drupal elements - colors */
.block-region { background:transparent; border-color:#c8ea6b; }

/* Highlighted - fonts & colors */

#idRegionHighlightLeft, #idRegionHighlightRight { border-color:#dfdfda; background:#dfdfda; color:#37342f; }
body.bigBorders #idRegionHighlightLeft, body.bigBorders #idRegionHighlightRight { background:transparent; }

#idRegionHighlightLeft div, #idRegionHighlightRight div { padding-left:7px; padding-right:7px; }

#idRegionHighlightLeft h2, #idRegionHighlightRight h2 { color:#6b6f5b; background:#cdcdc0; }
body.plain #idRegionHighlightLeft h2, body.plain #idRegionHighlightRight h2, body.bigBorders #idRegionHighlightLeft h2, body.bigBorders #idRegionHighlightRight h2
{ color:#6b6f5b; background:transparent; }

#idRegionHighlightLeft h2, #idRegionHighlightRight h2 
{
  /*border-bottom:solid 2px #ffffff; */
  margin-bottom:5px;
  margin-top:4px;
}

/* Category - fonts & colors */

body.plain #idRegionCategory1 h2, body.plain #idRegionCategory2 h2, body.plain #idRegionCategory3 h2, body.plain #idRegionCategory4 h2, body.plain #idRegionCategory5 h2, body.plain #idRegionCategory6 h2, body.plain #idRegionCategory7 h2, body.plain #idRegionCategory8 h2 {
  color:#6b6f5b; background:transparent;
  border-bottom:solid 2px #37342f;
  margin-bottom:5px;
}

body.plain #idRegionCategory1, body.plain #idRegionCategory2, body.plain #idRegionCategory3, body.plain #idRegionCategory4, body.plain #idRegionCategory5, body.plain #idRegionCategory6, body.plain #idRegionCategory7, body.plain #idRegionCategory8 {
  background:transparent;
}

body.bigBorders #idRegionCategory1 h2, body.bigBorders #idRegionCategory2 h2, body.bigBorders #idRegionCategory3 h2, body.bigBorders #idRegionCategory4 h2, body.bigBorders #idRegionCategory5 h2, body.bigBorders #idRegionCategory6 h2, body.bigBorders #idRegionCategory7 h2, body.bigBorders #idRegionCategory8 h2 {
  color:#6b6f5b; background:transparent;
}

#idRegionCategory1, #idRegionCategory2, #idRegionCategory3, #idRegionCategory4, #idRegionCategory5, #idRegionCategory6, #idRegionCategory7, #idRegionCategory8 {
  background-color:#e0e8ff; border-color:#4096ee;
}

#idRegionCategory1 h2, #idRegionCategory2 h2, #idRegionCategory3 h2, #idRegionCategory4 h2, #idRegionCategory5 h2, #idRegionCategory6 h2, #idRegionCategory7 h2, #idRegionCategory8 h2 {
  color:#f4f5f2; background:#4096ee;
}

/* Footer - colors */

#idRegionFooter { border-top:solid 7px; border-bottom:0;}
#idRegionFooter { border-color:#080808; color:#8e9181; }
#idRegionFooter a { color:#ffd0a0; }
#idRegionFooter a:hover { color:#ffa080; }


/* Sidebar - fonts & colors */

body .sidebar-block {  }

.sidebar-block h2 {  }

body.plain #idRegionSidebarBox1 h2, body.plain #idRegionSidebarBox2 h2, body.plain #idRegionSidebarBox3 h2, body.plain #idRegionSidebarBox4 h2, body.plain #idRegionSidebarBox5 h2, body.plain #idRegionSidebarBox6 h2 {
  color:#37342f; background:transparent;
}

body.bigBorders #idRegionSidebarBox1 h2, body.bigBorders #idRegionSidebarBox2 h2, body.bigBorders #idRegionSidebarBox3 h2, body.bigBorders #idRegionSidebarBox4 h2, body.bigBorders #idRegionSidebarBox5 h2, body.bigBorders #idRegionSidebarBox6 h2 {
  color:#37342f; background:transparent;
}

#idRegionSidebarBox1, #idRegionSidebarBox2, #idRegionSidebarBox3, #idRegionSidebarBox4, #idRegionSidebarBox5, #idRegionSidebarBox6 {
  border-color:#37342f;
}

#idRegionSidebarBox1 h2, #idRegionSidebarBox2 h2, #idRegionSidebarBox3 h2, #idRegionSidebarBox4 h2, #idRegionSidebarBox5 h2, #idRegionSidebarBox6 h2 {
  color:#e2e3dd; background:#37342f;
}
