/* 
 * Base colors 
 */

body { background-color:#f9f8fa; color:#515d52; }

#idSegmentUpper { background:#a1443a; border-color:#f21107; }
#idSegmentLower  {  }

/* 
  .item-list a.active selects view lists like Recent comments, Active forum topics etc.
 */
a, ul.menu li a:visited, ul.links li a:visited, .item-list a.active { color:#c70000; }
a:visited, .item-list a.active:visited { color:#a1443a; }
a:hover, ul.menu li a:hover, ul.links li a:hover { color:#9f0000; }

h1,h2,h3,h4,h5,h6 { color:#515d52; }

/* Header */
#idSiteName, #idSiteName a { color:#ffffff; }

#idSiteSlogan { color:#ffffff; }

/* Breadcrumb - colors */

.breadcrumb { color:#d65950; background-color:transparent; }
.breadcrumb a { color:#d65950; }
.breadcrumb a:hover { color:#9f0000; }

/* Primary, secondary links and suckerfish - colors */

#idPrimaryLinks, #idSecondaryLinks {  }

ul.primary-links {  }
ul.primary-links li a.active, ul.secondary-links li a.active {  }

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited { color: #ffffff; background:transparent; }
ul.primary-links li a.active { border-bottom-color:transparent; background:#f21107; }
ul.primary-links li a:hover { background:#f21107;  }

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited, ul.suckerfish-primary li a { color: #d65950; }
ul.secondary-links li a.active { color:#ffffff; border-bottom-color:transparent; background:#f21107; }
ul.secondary-links li a:hover { color:#9f0000; }

ul.suckerfish-primary li:hover a { color:#ffffff; background:#a1443a; }
ul.suckerfish-primary li a:hover { color:#ffffff; background:#f21107; }
ul.suckerfish-primary li ul li:hover a { background:#f21107;}
ul.suckerfish-primary li ul li a:hover { background:#f21107;}

div.suckerfish-secondary-wrapper li { background:#a1443a;}
#idSuckerfish, ul.suckerfish-primary li div.suckerfish-secondary-wrapper { border-color:#f21107; border-top-style:none; }

/* Help - colors */

div.help p {  }

/* Menus - colors */

ul.menu li a {  }

/* Admin panel - colors */

div.admin div.admin-panel h3 { background-color:#e8e7e9; color:#515d52;  }
div.admin div.admin-panel p.description { color:#898989; }

dl.admin-list dt { background-color:transparent; color:#515d52; }
dl.admin-list dd { color:#8e958e; }

table#blocks td.region { background:#f2eef3; }

/* Message - colors */
.messages { border-color:#c7f2c8; background-color:#ffffff; color:#33aa33; }

/* Mission */
#mission { border-color:#faf5f8; background-color:#ffffff; }

/* Forum */

#forum th { color:#515d52; }

#forum td.container { background-color:#f2eef3; }

#forum td.container .name { background-color:#f2eef3; }
#forum td.container .name a { color:#c70000; }
#forum td.container .name a:hover { color:#9f0000; }
#forum td.container .description { background-color:#f2eef3; border-top:solid 1px #d2bed3; }

/* Node, Book - colors */

h2, div.node h2, div.node h2 a, h2.with-tabs, h2.with-tabs a { background-color:transparent; color:#515d52; }
div.node h2 a { }

div.node span.submitted { color:#8e958e; }

div.node div.links, div.book-navigation div.page-links { border-color:#888888; }

/* Comments - colors */

div.comment { border-bottom-color: #f5f5f5; }
div.comment div.comment-header span.new { color:#08ffc5; }
div.comment span.submitted { color:#8e958e; }

div.comment div.comment-footer { border-top-color:#f5f5f5; }

/* Tabs - colors */

#tabs-wrapper .tabs.primary { border-bottom-color:#f7c6c3; }

#tabs-wrapper .tabs.primary li { background-color:#f79693; color:#ffffff; }
#tabs-wrapper .tabs.primary li.active { background-color:#f7c6c3; border-bottom-color:#f7c6c3; }

#tabs-wrapper .tabs li a { background-color:transparent; color:#9f0000; }
#tabs-wrapper .tabs li a:hover { color:#d65950; background-color:transparent; }
#tabs-wrapper .tabs li a.active:hover { color:#d65950; }

/* Search box - fonts & colors */

#search-block-form input.form-text { border-color:#515d52; background:#ffffff; }

/* Tables - colors */

table { border-top-color:#f9f8fa; border-bottom-color:#f9f8fa; }
table thead tr th { border-bottom-color:#f3eef3; background:transparent; }
table tbody tr td { border-bottom-color:#f3eef3; }
table tbody tr.odd td { background:#f9f8fa; }
table tbody tr.even td { background:#ffffff; }

/* Various Drupal elements - colors */
.block-region { background:transparent; border-color:#ede3ee; }

/* Highlighted - fonts & colors */

#idRegionHighlightLeft { border-color:#fac5c2;  }
#idRegionHighlightLeft h2 { color:#5a5d5a; background:#fac5c2; }
body.plain #idRegionHighlightLeft h2 { color:#5a5d5a; background:transparent; }
body.bigBorders #idRegionHighlightLeft  h2 { color:#5a5d5a; background:transparent;  }

#idRegionHighlightRight { border-color:#fac5c2;  }
#idRegionHighlightRight h2 { color:#515d5a; background:#fac5c2; }
body.plain #idRegionHighlightRight h2 { color:#515d5a; background:transparent; }
body.bigBorders #idRegionHighlightRight h2 { color:#515d5a; background:transparent; }

/* Category - fonts & colors */

.category h2 {  }

body.plain #idRegionCategory1 h2, body.plain #idRegionCategory2 h2, body.plain #idRegionCategory3 h2, body.plain #idRegionCategory4 h2, body.plain #idRegionCategory5 h2, body.plain #idRegionCategory6 h2, body.plain #idRegionCategory7 h2, body.plain #idRegionCategory8 h2 {
  color:#5a5d5a; background:transparent;
}

body.bigBorders #idRegionCategory1 h2, body.bigBorders #idRegionCategory2 h2, body.bigBorders #idRegionCategory3 h2, body.bigBorders #idRegionCategory4 h2, body.bigBorders #idRegionCategory5 h2, body.bigBorders #idRegionCategory6 h2, body.bigBorders #idRegionCategory7 h2, body.bigBorders #idRegionCategory8 h2 {
  color:#5a5d5a; background:transparent;
}

#idRegionCategory1, #idRegionCategory2, #idRegionCategory3, #idRegionCategory4, #idRegionCategory5, #idRegionCategory6, #idRegionCategory7, #idRegionCategory8 {
  background-color:#f3f2f4; border-color:#f21107;
}

#idRegionCategory1 h2, #idRegionCategory2 h2, #idRegionCategory3 h2, #idRegionCategory4 h2, #idRegionCategory5 h2, #idRegionCategory6 h2, #idRegionCategory7 h2, #idRegionCategory8 h2 {
  color:#ffffff; background-color:#f21107;
}

/* Footer - colors */

#idRegionFooter { background-color:transparent; border-color:#f2a197; }

/* Sidebar - fonts & colors */

.sidebar-block h2 {  }

body.plain #idRegionSidebarBox1 h2, body.plain #idRegionSidebarBox2 h2, body.plain #idRegionSidebarBox3 h2, body.plain #idRegionSidebarBox4 h2, body.plain #idRegionSidebarBox5 h2, body.plain #idRegionSidebarBox6 h2 {
  color:#5a5d5a; background:transparent;
}

body.bigBorders #idRegionSidebarBox1 h2, body.bigBorders #idRegionSidebarBox2 h2, body.bigBorders #idRegionSidebarBox3 h2, body.bigBorders #idRegionSidebarBox4 h2, body.bigBorders #idRegionSidebarBox5 h2, body.bigBorders #idRegionSidebarBox6 h2 {
  color:#5a5d5a; background:transparent;
}

#idRegionSidebarBox1, #idRegionSidebarBox2, #idRegionSidebarBox3, #idRegionSidebarBox4, #idRegionSidebarBox5, #idRegionSidebarBox6 {
  background-color:#fac5c2; border-color:#a1443a;
}

#idRegionSidebarBox1 h2, #idRegionSidebarBox2 h2, #idRegionSidebarBox3 h2, #idRegionSidebarBox4 h2, #idRegionSidebarBox5 h2, #idRegionSidebarBox6 h2 {
  color:#ffffff; background-color:#a1443a;
}
