/*
 * Highlighted 
 */
 
body.bigBorders .highlighted
{
  border-top:solid 21px;  border-bottom:solid 7px;
}

body.bigBorders .highlighted h2 
{
  padding:0 0 0 4px;
}
/*
 * Category 
 */

body.bigBorders .category
{  
  border-left:0; border-right:0;
  border-top:solid 21px;  border-bottom:solid 7px;
}

body.bigBorders .category h2
{  
  width:auto;
  padding:0 0 0 4px;
  margin:0;
}

body.bigBorders div.category-pair {
	margin-bottom:10px;
}

/* 
 * Sidebar 
 */

body.bigBorders .sidebar-block
{
  border-top:solid 21px;  border-bottom:solid 7px;
  padding:0 0 0 4px;
  margin-left:0;
}

body.bigBorders .sidebar-block h2
{
  padding:0 0 0 4px;
  margin-left:0;
}
