/* 
 * Base colors 
 */

body { background-color:#fffff8; color:#493220; }

#idSegmentUpper { background:#fffaee; border-color:#ffedba; }
#idSegmentLower  {  }

/* 
  .item-list a.active selects view lists like Recent comments, Active forum topics etc.
 */
a, ul.menu li a:visited, ul.links li a:visited, .item-list a.active { color:#ba7b30; }
a:visited, .item-list a.active:visited { color:#926440; }
a:hover, ul.menu li a:hover, ul.links li a:hover { color:#404040; }

h1,h2,h3,h4,h5,h6 { color:#926440; }

/* Header */
#idSiteName, #idSiteName a { color:#6d4818; }

#idSiteSlogan { color:#825622; }

/* Breadcrumb - colors */

.breadcrumb { color:#926440; background-color:transparent; }
.breadcrumb a { color:#926440; }
.breadcrumb a:hover { color:#404040; }

/* Primary, secondary links and suckerfish - colors */

#idPrimaryLinks, #idSecondaryLinks {  }

ul.primary-links {  }
ul.primary-links li a.active, ul.secondary-links li a.active {  }

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited { color: #926440; background:transparent; }
ul.primary-links li a.active { border-bottom-color:transparent; background:#ffedba; }
ul.primary-links li a:hover { color:#404040;  }

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited, ul.suckerfish-primary li a:visited { color: #926440; }
ul.suckerfish-primary li a, ul.suckerfish-primary li:hover li a, ul.suckerfish-primary li a:hover a { color: #926440; }
ul.secondary-links li a:hover, ul.suckerfish-primary li:hover a, ul.suckerfish-primary li a:hover, ul.suckerfish-primary li:hover li:hover a, ul.suckerfish-primary li a:hover a:hover { color:#404040; }
ul.secondary-links li a.active { border-bottom-color:transparent; background:#ffedba; }
ul.secondary-links li a:hover { color:#404040; }
ul.suckerfish-primary li ul li:hover a, ul.suckerfish-primary li ul li a:hover { background:#ffffff;}

#idSuckerfish, ul.suckerfish-primary li div.suckerfish-secondary-wrapper { border-color:#ba7b30; }

/* Help - colors */

div.help p {  }

/* Menus - colors */

ul.menu li a {  }

/* Admin panel - colors */

div.admin div.admin-panel h3 { background-color:#fff6dc; color:#ba7b30;  }
div.admin div.admin-panel p.description { color:#898989; }

dl.admin-list dt { background-color:#fffaee; color:#ba7b30; }
dl.admin-list dd { color:#898989; }

table#blocks td.region { background:#fff6dc; }

/* Message - colors */
.messages { border-color:#eac86b; background-color:#fff6dc; color:#d0905b; }

/* Mission */
#mission { border-color:#a3da57; background-color:#eeffcc; }

/* Forum */

#forum th { color:#898989; }

#forum td.container { background-color:#fffff8; }

#forum td.container .name { background-color:#926440; }
#forum td.container .name a { color:#fff; }
#forum td.container .name a:hover { color:#ffedba; }
#forum td.container .description { background-color:#fffff8; border-top:solid 1px #926440; }

/* Node, Book - colors */

h2, div.node h2, div.node h2 a, h2.with-tabs, h2.with-tabs a { background-color:transparent; color:#926440; }
div.node h2 a { }

div.node span.submitted { color:#d0905b; }

div.node div.links, div.book-navigation div.page-links { border-color:#ba7b30; }

/* Comments - colors */

div.comment { border-bottom-color: #e7e7e7; }
div.comment div.comment-header span.new { color:#ba7b30; }
div.comment span.submitted { color:#d0905b; }

div.comment div.comment-footer { border-top-color:#ba7b30; }

/* Tabs - colors */

#tabs-wrapper .tabs.primary { border-bottom-color:#eac86b; }

#tabs-wrapper .tabs.primary li { background-color:#ffedba; color:#404040; }
#tabs-wrapper .tabs.primary li.active { background-color:#eac86b; border-bottom-color:#eac86b; }

#tabs-wrapper .tabs li a { background-color:transparent; color:#926440; }
#tabs-wrapper .tabs li a:hover { color:#404040; background-color:transparent; }
#tabs-wrapper .tabs li a.active:hover { color:#404040; }

/* Search box - fonts & colors */

#search-block-form input.form-text { border-color:#d0905b; background:#ffffff; }

/* Tables - colors */

table { border-top-color:#eac86b; border-bottom-color:#eac86b; }
table thead tr th { border-bottom-color:#eac86b; background:#ffedba; }
table tbody tr td { border-bottom-color:#eac86b; }
table tbody tr.odd td { background:#fffff8; }
table tbody tr.even td { background:#ffffe8; }

/* Various Drupal elements - colors */
.block-region { background:transparent; border-color:#eac86b; }

/* Highlighted - fonts & colors */

#idRegionHighlightLeft { border-color:#d0905b;  }
#idRegionHighlightLeft h2 { color:#ffedba; background:#ba7b30; }
body.plain #idRegionHighlightLeft h2 { color:#926440; background:transparent; }
body.bigBorders #idRegionHighlightLeft  h2 { color:#926440; background:transparent;  }

#idRegionHighlightRight { border-color:#d0905b;  }
#idRegionHighlightRight h2 { color:#ffedba; background:#ba7b30; }
body.plain #idRegionHighlightRight h2 { color:#926440; background:transparent; }
body.bigBorders #idRegionHighlightRight h2 { color:#926440; background:transparent; }

/* Category - fonts & colors */

.category h2 {  }

body.plain #idRegionCategory1 h2, body.plain #idRegionCategory2 h2, body.plain #idRegionCategory3 h2, body.plain #idRegionCategory4 h2, body.plain #idRegionCategory5 h2, body.plain #idRegionCategory6 h2, body.plain #idRegionCategory7 h2, body.plain #idRegionCategory8 h2 {
  color:#926440; background:transparent;
}

body.bigBorders #idRegionCategory1 h2, body.bigBorders #idRegionCategory2 h2, body.bigBorders #idRegionCategory3 h2, body.bigBorders #idRegionCategory4 h2, body.bigBorders #idRegionCategory5 h2, body.bigBorders #idRegionCategory6 h2, body.bigBorders #idRegionCategory7 h2, body.bigBorders #idRegionCategory8 h2 {
  color:#926440; background:transparent;
}

#idRegionCategory1, #idRegionCategory2, #idRegionCategory3, #idRegionCategory4, #idRegionCategory5, #idRegionCategory6, #idRegionCategory7, #idRegionCategory8 {
  background-color:#fff6dc; border-color:#d0905b;
}

#idRegionCategory1 h2, #idRegionCategory2 h2, #idRegionCategory3 h2, #idRegionCategory4 h2, #idRegionCategory5 h2, #idRegionCategory6 h2, #idRegionCategory7 h2, #idRegionCategory8 h2 {
  color:#ffffff; background-color:#d0905b;
}

/* Footer - colors */

#idRegionFooter { background-color:#fffaee; border-color:#d0905b; }

/* Sidebar - fonts & colors */

.sidebar-block h2 {  }

body.plain #idRegionSidebarBox1 h2, body.plain #idRegionSidebarBox2 h2, body.plain #idRegionSidebarBox3 h2, body.plain #idRegionSidebarBox4 h2, body.plain #idRegionSidebarBox5 h2, body.plain #idRegionSidebarBox6 h2 {
  color:#926440; background:transparent;
}

body.bigBorders #idRegionSidebarBox1 h2, body.bigBorders #idRegionSidebarBox2 h2, body.bigBorders #idRegionSidebarBox3 h2, body.bigBorders #idRegionSidebarBox4 h2, body.bigBorders #idRegionSidebarBox5 h2, body.bigBorders #idRegionSidebarBox6 h2 {
  color:#926440; background:transparent;
}

#idRegionSidebarBox1, #idRegionSidebarBox2, #idRegionSidebarBox3, #idRegionSidebarBox4, #idRegionSidebarBox5, #idRegionSidebarBox6 {
  background-color:#fffaee; border-color:#ffedba;
}

#idRegionSidebarBox1 h2, #idRegionSidebarBox2 h2, #idRegionSidebarBox3 h2, #idRegionSidebarBox4 h2, #idRegionSidebarBox5 h2, #idRegionSidebarBox6 h2 {
  color:#926440; background-color:#ffedba;
}
