/* Blueprint - grid.css */
* html .column{overflow-x:hidden;} /* IE6 fix, non valid */

body.default div.category h2 {margin-top:0; margin-left:-4px;}

/* Opera li/a size fix, color needs to be something instead of transparent because of IE6 */
body ul.suckerfish-primary li a { border-bottom-color:#ffffff; }
body.colorScheme-tealTop ul.suckerfish-primary li a { border-bottom-color:#eef3f1; }
body.colorScheme-nocturnal ul.suckerfish-primary li.submenu a { border-bottom-color:#f3f3f8; }
body.colorScheme-shinyTomato ul.suckerfish-primary li.submenu a { border-bottom-color:#f9f8fa; }
